{% extends 'main/layout.html' %}

{% block title %}{{ gem.title }}{% endblock %}
{% block content %}
<h1 align="center" style="color:#ffffff">Магазин детей и травы</h1>
<h1 align="center" style="color:#ffffff" >{{ gem.title }}<br></h1>
<h3 align="center" style="color:#ffffff">{{ gem.description }}<br></h3>
<h1 align="center" style="color:#ffffff"> Стоимость: {{ gem.balance }} рублей<br></h1>
<main>
      <form>
        <label for="paymentMethod" align="center" style="color:#ffffff">Выберите способ оплаты:</label>
        <select name="paymentMethod" id="paymentMethod">
          <option value="creditCard">Кредитная карта</option>
          <option value="paypal">PayPal</option>
          <option value="yandexMoney">Яндекс.Деньги</option>
        </select>
          <button href="https://pay.enot.io/redirect-check?m=43505&oa=379&o=4504583&cr=RUB&c=%D0%9E%D0%BF%D0%BB%D0%B0%D1%82%D0%B0+%D0%B7%D0%B0%D0%BA%D0%B0%D0%B7%D0%B0+4504583&p=cd&success_url=https%3A%2F%2Fgenshindrop.com%2Fdeposit%2Fstatus%2F4504583&s=98d0872237dbe9488ce7dc6434d3f5e2" align="center">Оплатить>

          </button>
      </form>
    </main>
{% endblock %}