{% extends 'main/layout.html' %}

{% block title %}{{ gem.title }}{% endblock %}
{% block content %}
<h1 align="center" style="color:#ffffff">Магазин детей и травы</h1>
<h1 align="center" style="color:#ffffff" >{{ gem.title }}<br></h1>
<h3 align="center" style="color:#ffffff">{{ gem.description }}<br></h3>
<h1 align="center" style="color:#ffffff"> Стоимость: {{ gem.balance }} рублей<br></h1>
<main>
      <form>
          {% if request.user.is_authenticated %}
        <label for="paymentMethod" align="center" style="color:#ffffff">Выберите способ оплаты:</label>
        <select name="paymentMethod" id="paymentMethod">
          <option value="creditCard">Кредитная карта</option>
          <option value="paypal">PayPal</option>
          <option value="yandexMoney">Яндекс.Деньги</option>
        </select>
           <a href="{% url 'buy_gem' gem.id %}">
            <li><i class="fas fa-file-signature"></i>Купить</li>
        </a>
            {% else %}
          <h1 align="center" style="color:#ffffff">Авторезируйтесь для покупки</h1>
          {% endif %}
      </form>
    </main>
{% endblock %}