{% extends 'main/layout.html' %}
{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static 'news/css/news.css' %}">
{% endblock %}
{% block title %}{{ article.title }}{% endblock %}

{% block content %}
<div class="features">
    <h3>{{ article.title }}</h3>
    <h3>{{ article.full_text }}</h3>
    <a href="{% url 'delete_news' article.id %}" class="btn btn-danger">Удалить статью</a>
    <a href="{% url 'update_news' article.id %}" class="btn btn-info">Обновить статью</a>
    <a href="{% url 'comment_create' article.id %}" class="btn btn-info">Добавить комментарий</a>
    {% for comment in comments %}
        <h3>{{ comment.user }}</h3>
        <h3>{{ comment.text }}</h3>
        <h3>{{ comment.created_at }}</h3>

    {% endfor %}
</div>

{% endblock %}

