{% extends 'main/layout.html' %}

{% block title %}F.A.Q{% endblock %}

{% block content %}
    <div class="features">
        <h1 style="color:#ffffff">F.A.Q</h1>
    </div>
    <div class="features" style="border: 1px solid #ccc; padding: 10px; margin-top: 10px;  margin: 15px;">
    <h6 align="center" style="color:#ffffff"> Бонусная акция Genshin Impact Bonus<br>

Первый бонус на пополнение счета <br>Если ваш игровой персонаж никогда не пополнялся в игре или на какой-либо платформе, вы можете:<br>
Пополните 60 кристаллов Genesis, чтобы получить 120 кристаллов Genesis<br>
Пополните 300+ 30 кристаллов Genesis, чтобы получить 600 кристаллов Genesis<br>
Пополните 980+ 110 кристаллов Genesis, чтобы получить 1 960 кристаллов Genesis<br>
Пополните 1 980+ 260 кристаллов Genesis, чтобы получить 3 960 кристаллов Genesis<br>
Пополните 3 280+ 600 кристаллов Genesis, чтобы получить 6 560 кристаллов Genesis<br>
Пополните 6 480+ 1600 кристаллов Genesis, чтобы получить 12 960 кристаллов Genesis<br>
Бонусный подарок<br>
Если ваш игровой персонаж уже пополнял счет в игре или на любой платформе, вы можете:<br>
Пополните 60 кристаллов Genesis, чтобы получить 60 кристаллов Genesis<br>
Пополните 300+ 30 кристаллов Genesis, чтобы получить 330 кристаллов Genesis<br>
Пополните 980+ 110 кристаллов Genesis, чтобы получить 1090 кристаллов Genesis<br>
Пополните 1 980+ 260 кристаллов Genesis, чтобы получить 2 240 кристаллов Genesis<br>
Пополните 3 280+ 600 кристаллов Genesis, чтобы получить 3 880 кристаллов Genesis<br>
Пополните 6 480+ 1600 кристаллов Genesis, чтобы получить 8 080 кристаллов Genesis<br>
Благословение Велкинской Луны<br>
Каждый раз, когда вы покупаете Blessing of the Welkin Moon, вы немедленно получаете 300 кристаллов Genesis и 30 дней Благословения.<br>
В течение этого 30-дневного периода вы можете получать 90 примогемов каждый день при входе в систему.<br>
Важные моменты:<br>
1. Продолжительность Благословения Луны Велкин может быть продлена только в том случае, если его оставшаяся продолжительность составляет 180 дней или меньше.<br>
2. Вы не можете приобрести дополнительное благословение, если оставшийся срок действия превышает 180 дней. Если уникальные обстоятельства все равно приведут к повторной покупке, срок действия не будет продлен, и вместо этого вам будет возвращено 330 кристаллов Genesis напрямую.<br>
3. Возврат средств за любые Примогемы, которые не были запрошены при входе в систему в течение срока действия Благословения, не производится.<br>

    </h6>
</div>
{% endblock %}