{% extends 'main/layout.html' %}

{% block title %}Про нас{% endblock %}

{% block content %}
    <h1 style="color:#ffffff" align="center">Hi, {{ request.user.username }}</h1>
     <div class="features" style="border: 1px solid #ccc; padding: 20px; margin-top: 10px;  margin: 15px;">
        <h5 style="color:#ffffff">Наш магазин предлагает покупку 60 примогемов для Геншин Импакт дешево без входа в аккаунт или возни с VPN, просто оплачиваете и просто получаете свои примогемы на аккаунт. Моментальное зачисление и оплата с любых Российских карт, можно купить даже для Playstation. Попробуйте самостоятельно наш магазин доната в игру без обмана для покупки кристаллов сотворения Геншин :3 Для осуществления покупки нужен только ваш UID, что полностью безопасно и не влечет за собой никаких проблем для аккаунта. В отличие от других магазинов мы указываем финальную цену с учетом всех комиссий, поэтому с вас не спишут ни на 1 рубль больше указанной цены. Учтите, что если вы играете на консоли, то для получения луны/примогемов и тд необходимо будет зайти в аккаунт с телефона/пк/планшета или любого другого устройства (кроме консоли) и обменять свои кристаллы на примогемы, после этого они появятся и в игре на Playstation.</h5>
    </div>
{% endblock %}
